DATABASE_URL="postgresql://postgres:postgres@localhost:5432/weather_db?schema=public"

JWT_SECRET="GM/Z+ELepvtuaixLw5qZLxmv5NJr/y1zLm2lbEl//CA="
JWT_EXPIRES_IN="15m"

REFRESH_JWT_SECRET="HscJZAB/9ruBHTCusQudakEUlQXdtf9628TyoBnQZNA="
REFRESH_JWT_EXPIRES_IN="7d"

# The API key required by ESP32 to submit readings
WEATHER_API_KEY="super-secret-esp32-api-key"

PORT=3000
FRONTEND_URL="http://localhost:3001"
NODE_ENV="development"
